.bgimg-1 {
    background-image: url("../../images/bgimg-1.jpeg");
    height: 600px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-2 {
    background-image: url("../../images/bgimg-2.jpeg");
    height: 400px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-3 {
    background-image: url("../../images/bgimg-3.jpeg");
    height: 300px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-4 {
    background-image: url("../../images/bgimg-4.jpeg");
    height: 400px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hello-box {
    height: 300px;
    position: absolute;
    padding-top: 200px;
    padding-left: 50px;
    line-height: 1;
}

.hello-box h1 {
    color: whitesmoke;
    font-size: 80px;
    -webkit-animation: fadein 3s;   
}

@keyframes fadein {
    from {opacity: 0;}
    to { opacity: 1;}
}

.title-box {
    position: relative;
    line-height: 1;
    height: 20px;
    top: 40%;
    display: block;
      
}



.title-box h1{
    color: #303136;
    font-family: Verdana;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: grey;
    
}

.info-box-light {
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px; 
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

}

.info-box-light h3 {
    color: #303136;
    font-size: 20px;
    font-weight: bold;
    
}

.info-box-light p{
    color: #303136;
    font-size: 18px;
    line-height: 25px;
    padding-left: 25px;
}

.info-box-dark{
    background-color: #303136;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px; 
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.info-box-dark h3 {
    color: whitesmoke;
    font-size: 20px;
    position: relative;
    font-weight: bold;

}

.info-box-dark p{
    color: whitesmoke;
    font-size: 18px;
    line-height: 25px; 
    padding-left: 25px;  
}

.info-box-grey {
    background-color: #c6c9cf;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px; 
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.info-box-grey h3 {
    color: black;
    font-size: 20px;
    position: relative;
    font-weight: bold;
}

.info-box-grey p{
    color: #303136;
    font-size: 18px;
    line-height: 25px;
    padding-left: 25px;
}



