.bgimg-1 {
    background-image: url("../../images/Headshoots/DSC_0825.JPG");
    height: 800px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-2 {
    background-image: url("../../images/bgimg-2.jpeg");
    height: 400px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-3 {
    background-image: url("../../images/bgimg-3.jpeg");
    height: 300px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-4 {
    background-image: url("../../images/bgimg-4.jpeg");
    height: 400px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-6 {
    background-image: url("../../images/bgimg-1.jpeg");
    height: 400px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hello-box {
    height: 300px;
    position: absolute;
    padding-top: 300px;
    padding-left: 100px;
    line-height: 1;
}

.hello-box h1 {
    color: whitesmoke;
    font-size: 80px;
    -webkit-animation: fadein 3s;   
}

@keyframes fadein {
    from {opacity: 0;}
    to { opacity: 1;}
}

.title-box {
    position: relative;
    line-height: 1;
    height: 20px;
    top: 40%;
    display: block;
    
}



.title-box h1{
    color: #303136;
    font-family: Verdana;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: grey;
    
    
}

.info-box-light {
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px; 
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

.info-box-light h3 {

    color: #303136;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    
}

.info-box-light p{
    color: #303136;
    font-size: 20px;
    line-height: 1.5;
    position: relative;
    margin: auto;
    
}

.info-box-dark{
    background-color: #303136;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px; 
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    
}

.info-box-col{
    float: left;
}

.left {
    width: 30%;
    margin-left: 60px;
}

.left h3 {
    text-align: center;
}

.left p {
    text-align: left;
}

.left img {
    margin-left: 100px;
}

.middle {
    width: 30%;
}

.middle h3 {
    text-align: center;
}

.middle p {
    text-align: left;
}

.middle img {
    margin-left: 80px;
}

.right {
    width: 30%;
}

.right h3 {
    text-align: center;
}

.right p {
    text-align: left;
    padding-bottom: 20px;
    margin-left: 80px;
}


.info-box-dark h3 {
    color: whitesmoke;
    font-size: 30px;
    position: relative;
    font-weight: bold;
    padding-bottom: 15px;
    text-decoration: underline;
}

.info-box-dark p{
    color: whitesmoke;
    font-size: 25px;
    line-height: 25px; 
    padding-left: 25px;  
    display: inline-block;
}

.info-box-dark p::after{
    color: whitesmoke;
    font-size: 25px;
    line-height: 25px; 
    padding-left: 25px;  
    display: inline-block;

}

.info-box-grey {
    background-color: #c6c9cf;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px; 
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

.info-box-grey h3 {
    color: black;
    font-size: 25px;
    position: relative;
    font-weight: bold;
}

.info-box-grey p{
    color: #303136;
    font-size: 20px;
    line-height: 25px;
    padding-left: 30px;
    
}



